<div class="home">
    <div class= 'nav-card' *ngIf="showDiv" [@flyInOut] >
          <li class= 'nav-list'>  <fa-icon  [icon]="faBriefcase" size ='lg'></fa-icon> <a class="nav-links">Business Overview</a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faPiggyBank" size ='lg'></fa-icon> <a class="nav-links">Banking</a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faMoneyCheck" size ='lg'></fa-icon> <a class="nav-links"> Payroll </a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faReceipt" size ='lg'></fa-icon> <a class="nav-links">Bookkeeping </a> </li>
          <button class= 'nav-list' (click)="onLogout()"> Logout </button>
    </div>
    <div class='canvas-container'>
      <div class= 'canvas scroller'>
              <div class='welcome-container'  [ngStyle]="{width:'90%'}" *ngIf="userDetails">
              <Button  *ngFor="let item of menuItems; let i = index" class='toggle-btn' (click)="toggleDiv(); menuClick(i)">
                  <fa-icon  *ngIf="item.state" class='menu-toggle'  [icon]="faBars" size ='lg'></fa-icon>
                  <fa-icon  *ngIf="!item.state" class='menu-toggle'  [icon]="faTimes" size ='lg'></fa-icon>
              </Button>
              <h3 class='user-welcome-start'>Welcome&nbsp;</h3><h3 class="user-welcome-banner"> {{userDetails.fullName}}</h3>
            </div>
            <div class= 'dash-container'>
              <div class= 'overview-header'>
                <h2> Overview </h2>
              </div>
              <div class= row1-analytics>
                <div class= 'sales'>
          
                </div>
              </div>
              <div class= 'second-row'>
              <div class= 'left-container'>
                <h3 class='Banking-feed-heading'>Banking Information</h3>
                <div class ='left-feed scroller'>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                </div>
            </div>
            <div class="right-component-container">
              <h3 class='Components'>Your quick links</h3>
              <div class = 'right-components'>
                <div class='row1-components'>
                  <div id='component-item' class ='bank-component'>
                    <p>4</p>
                  </div>
                  <div id='component-item' class = 'Payroll-component'>
                    <p>4</p>
                  </div>
                </div>
                <div class='row2-components'>
                  <div id='component-item' class ='bookkeeping-component'>
                    <div>
                      <h3 class="widget-card-header">Settings</h3>
                    <fa-icon   class='setting-icon'  [icon]="faCogs" size ='5x'></fa-icon>
                    </div>
                  </div>
                  <div id='component-item' class = 'other-component' (click)="onLogout()">
                    <p>4</p>
                  </div>
                </div>
              </div>
            </div>
          </div>   
            </div>
      </div>
    </div>
            
    
  </div>