<div class="home">
    <div class= 'nav-card' *ngIf="showDiv" [@flyInOut] >
          <li class= 'nav-list'>  <fa-icon  [icon]="faBriefcase" size ='lg'></fa-icon> <a href="home" class="nav-links">Business Overview</a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faPiggyBank" size ='lg'></fa-icon> <a class="nav-links">Banking</a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faMoneyCheck" size ='lg'></fa-icon> <a href = "payroll" class="nav-links"> Payroll </a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faReceipt" size ='lg'></fa-icon> <a class="nav-links">Bookkeeping </a> </li>
          <li class= 'nav-list'>  <fa-icon [icon]="faBusinessTime" size ='lg'></fa-icon> <a href="timesheet"class="nav-links">Time Sheet</a></li>
          <button class= 'nav-list' (click)="onLogout()"> Logout </button>
    </div>
    <div class='canvas-container'>
      <div class= 'canvas scroller'>
              <div class='welcome-container'  [ngStyle]="{width:'90%'}" *ngIf="userDetails">
              <Button  *ngFor="let item of menuItems; let i = index" class='toggle-btn' (click)="toggleDiv(); menuClick(i)">
                  <fa-icon  *ngIf="item.state" class='menu-toggle'  [icon]="faBars" size ='lg'></fa-icon>
                  <fa-icon  *ngIf="!item.state" class='menu-toggle'  [icon]="faTimes" size ='lg'></fa-icon>
              </Button>
              <h3 class='user-welcome-start'>Welcome&nbsp;</h3><h3 class="user-welcome-banner"> {{userDetails.fullName}}
                
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <img class="user-pic" [src]= "userDetails.userPic" alt="profile picture" style ="width:60px; height:60px;"/>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"href="/settings">Settings</a>
                    <a class="dropdown-item" id="logout"(click)="onLogout()">Logout</a>
                  </div>
                </div>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <fa-icon class='notification-btn'  [icon]="faExclamation" size ='2x'></fa-icon>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item"href="/settings">New Message Notification</div>
                    
                  </div>
                </div>
              </h3>
            </div>
            <div class= 'dash-container'>
              <div class= 'overview-header'>
                <h2> Overview </h2>
              </div>
              <div class= row1-analytics>
                <div class= 'sales' >
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">7-Day</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Month</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Year</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><app-sevendaychart></app-sevendaychart></div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><app-monthchart></app-monthchart></div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><app-yearchart></app-yearchart></div>
                  </div>

                 <div>
                  <router-outlet></router-outlet>
                </div>
                </div>
              </div>
              <div class= 'second-row'>
              <div class= 'left-container'>
                <h3 class='Banking-feed-heading'>Banking Information</h3>
                <div class ='left-feed scroller'>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                  <li class='bank-feed-item'> <fa-icon class='menu-toggle'  [icon]="faDollarSign" size ='sm'></fa-icon> Bank Item</li>
                </div>
            </div>
            
            <div class="right-component-container">
              <h3 class='Components'>Your quick links</h3>
              <div class = 'right-components'>
                <div class='row1-components'>
                  <div id='component-item' class ='bank-component'>
                    <p>4</p>
                  </div>
                  <div id='component-item' class = 'Payroll-component'>
                    <p>4</p>
                  </div>
                </div>
                <div class='row2-components'>
                  <div id='component-item' class ='bookkeeping-component'>
                    <div [routerLink]="['settings']">
                      <a class="settingsLink" href="/settings">
                      <h3 class="widget-card-header">Settings</h3>
                      <fa-icon [routerLink]="['settings']" class='setting-icon'  [icon]="faCogs" size ='9x'></fa-icon>
                      </a>
                    </div>
                  </div>
                  <div id='component-item' class = 'other-component' (click)="onLogout()">
                    <p>4</p>
                  </div>
                </div>
              </div>
            </div>
          </div>   
            </div>
      </div>
    </div>
    

    <div class= "news-feed"[class.visited] = "isVisited == true" >
      <div class='toggle-col'>
        <button (click) = "checkVisited()" *ngFor="let item of feedItems; let i = index" class='feed-toggle' (click)='feedClick(i)'  >
          <fa-icon  *ngIf="item.state" class='feed-toggle'  [icon]="faCaretLeft" size ='3x'></fa-icon>
          <fa-icon  *ngIf="!item.state" class='feed-toggle'  [icon]="faCaretRight" size ='3x'></fa-icon>
        </button>
      </div>
      <div class='news-feed-content' >
        <div class= 'addFeed' data-bs-toggle="modal" data-bs-target="#exampleModal2">
          <fa-icon class="add-post" [icon]="faPlus" size ='2x'></fa-icon>
      </div>
        <h3 class="feed-heading">COMPANY FEED</h3>
        <div class='news-feed-container'>
          <div class="post-feed-list" *ngFor="let post of allFeed">
          <div class='post-container'>
            <div class='user-post-name'>
              <div class="UserPostTop">{{post.fullName}} <img class="feed-user-pic" [src]= "post.postUserPic" alt="profile picture" style ="width:70px; height:70px;"/></div>
              <div class="post-subject">{{post.postSubject}}</div>
            </div>
            <div class='post-content'>
              {{post.postMessage}}
            </div>
            <div class='user-post-time'>
              {{post.postTime}}
            </div>
<div class="accordion" id="accordionExample">

            <div class="accordion-item" >
              <div *ngFor="let item of allReplies;"    id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="reply-container" *ngIf="item.parentcommentid===post.cfId">
                  <h4 class="reply-fullname"><img class="feed-user-pic" [src]= "item.postreplyUserPic" alt="profile picture" style ="width:30px; height:30px;"/>{{item.fullName}}:</h4> &nbsp;&nbsp;<h5 class= "reply-content">{{item.commenttext}}</h5>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Replies
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <form  (submit)="onPostReply(post.cfId)" id= {{post.cfId}} class="accordion-body">
                  <div class="input-group">
                    <textarea type="text" class="reply-btn" [(ngModel)]="commenttext" name= "commenttext" placeholder="Reply to {{post.fullName}}'s post" aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Reply</button>
                    </div>
                  </div>
              </form>
              </div>
      </div>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModal2Label">Add A New Post </h5>
              <app-question></app-question>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form  autoComplete='off' (submit)="onSubmit()" class="addUser-form">     
              <div class='form-input-container'>
                  <div class="form-group" required>
                      <label > Please enter a subject: </label>
                      <input [(ngModel)]="postSubject"name ="postSubject"class="form-control"   type ="text" id="my-input"/>
                  </div>
                  <div class="form-group" required>
                    <label> Please enter your message: </label>
                    <input [(ngModel)]="postMessage" name= "postMessage" class="form-control"   type ="text-area" id="my-input"/>
                </div>
                  <div class="form-group" required>
                      <label> Please enter an Image: </label>
                      <input [(ngModel)]="postImage" name= "postImage" class="form-control"   type ="file" id="my-input"/>
                  </div>
                  
                  <input type="checkbox" required />
                  <div class="form-row">
                      <div class= "form-group">
                          <button type="submit"  data-bs-dismiss="modal" class='btn-outline-primary'> Add User </button>
                      </div>
                  </div>
              </div>
              
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

      
    </div>
    
  </div>
  