<div class="home">
    <div class= 'nav-card' *ngIf="showDiv" [@flyInOut] >
          <li class= 'nav-list'>  <fa-icon  [icon]="faBriefcase" size ='lg'></fa-icon> <a class="nav-links" href="home">Business Overview</a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faPiggyBank" size ='lg'></fa-icon> <a class="nav-links">Banking</a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faMoneyCheck" size ='lg'></fa-icon> <a class="nav-links"> Payroll </a> </li>
          <li class= 'nav-list'>  <fa-icon  [icon]="faReceipt" size ='lg'></fa-icon> <a class="nav-links">Bookkeeping </a> </li>
          <button class= 'nav-list' (click)="onLogout()"> Logout </button>
    </div>
    <div class='canvas-container'>
        <div class= 'canvas scroller'>
              <div class='welcome-container'  [ngStyle]="{width:'90%'}" *ngIf="userDetails">
              <Button  *ngFor="let item of menuItems; let i = index" class='toggle-btn' (click)="toggleDiv(); menuClick(i)">
                  <fa-icon  *ngIf="item.state" class='menu-toggle'  [icon]="faBars" size ='lg'></fa-icon>
                  <fa-icon  *ngIf="!item.state" class='menu-toggle'  [icon]="faTimes" size ='lg'></fa-icon>
              </Button>
              <h3 class='user-welcome-start'>Welcome&nbsp;</h3><h3 class="user-welcome-banner"> {{userDetails.fullName}}</h3>
            </div>
            <div class= 'dash-container'>
              <div class= 'overview-header'>
                <h2> Settings </h2>
              </div>
              <div class= row1-analytics>
                <div *ngIf="isVisible"class= 'addUser' data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <h3 class="setting-widget-heading">Add a user</h3>
                    <fa-icon class="add-user" [icon]="faUserPlus" size ='10x'></fa-icon>
                </div>
                <div class= 'changeMy'>
                    <h3 class="setting-widget-heading">Update my settings</h3>
                    <fa-icon class="update-user-icon" [icon]="faUserCog" size ='10x'></fa-icon>
                </div>
                <div class= 'manageCompany'>
                    <h3 class="setting-widget-heading">Manage my company</h3>
                    <fa-icon class="update-company" [icon]="faBuilding" size ='10x'></fa-icon>
                </div>
              </div>
            </div>   
        </div>
    </div>
    <div class= "news-feed"[class.visited] = "isVisited == true" (click) = "checkVisited()">
        <div class='toggle-col'>
          <button *ngFor="let item of feedItems; let i = index" class='feed-toggle' (click)='feedClick(i)'  >
            <fa-icon  *ngIf="item.state" class='menu-toggle'  [icon]="faCaretLeft" size ='3x'></fa-icon>
            <fa-icon  *ngIf="!item.state" class='menu-toggle'  [icon]="faCaretRight" size ='3x'></fa-icon>
          </button>
        </div>
        <div class='news-feed-content'>
          <h3>Company Feed</h3>
          <div class='news-feed-container'>
            <li class= 'nav-list'>  <fa-icon  [icon]="faBriefcase" size ='lg'></fa-icon> <a class="nav-links">Business Overview</a> </li>
            <li class= 'nav-list'>  <fa-icon  [icon]="faPiggyBank" size ='lg'></fa-icon> <a class="nav-links">Banking</a> </li>
            <li class= 'nav-list'>  <fa-icon  [icon]="faMoneyCheck" size ='lg'></fa-icon> <a class="nav-links"> Payroll </a> </li>
            <li class= 'nav-list'>  <fa-icon  [icon]="faReceipt" size ='lg'></fa-icon> <a class="nav-links">Bookkeeping </a> </li>
            <button class= 'nav-list' > Logout </button>
          </div>
        </div>
      </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModal2Label">Add A User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="service.formModel" autoComplete='off' (submit)="onSubmit()" class="addUser-form">     
              <div class='form-input-container'>
                  <div class="form-group" required>
                    <label > Please choose the user's role: </label>
                    <select class="form-select" formControlName= "UserRole"    type ="text" id="my-input">
                        <option>Admin</option>
                        <option>User</option>
                    </select>
                  </div>
                  <div class="form-group" required>
                      <label > Please enter your full name: </label>
                      <input class="form-control" formControlName= "FullName"  type ="text" id="my-input"/>
                  </div>
                  <div class="form-group" required>
                      <label> Please enter a user name: </label>
                      <input class="form-control" formControlName= "UserName"   type ="text" id="my-input"/>
                  </div>
                  <div class="form-group" required>
                      <label > Please enter an email: </label>
                      <input class="form-control" formControlName= "Email"    type ="email"id="my-input"/>
                  </div>
                  <div formGroupName="Passwords">
                      <div class="form-group" required>
                          <label > Please enter a password: </label>
                          <input class="form-control" formControlName= "Password"    type ="password"id="my-input"/>
                      </div>
                      <div class="form-group" required>
                          <label > Please confirm your Password: </label>
                          <input class="form-control" formControlName= "ConfirmPassword"    type ="password"id="my-input"/>
                      </div>
                  </div>
                  <div class="form-group" required>
                      <label > Please enter your phone number: </label>
                      <input class="form-control" formControlName= "PhoneNumber"    type ="text" id="my-input"/>
                  </div>
                  <div class="form-group" required>
                      <label > Please enter the name of your organization: </label>
                      <input class="form-control" formControlName= "orgName"    type ="text" id="my-input"/>
                  </div>
                  <div class="form-group" required>
                      <label > Please select an organization type: </label>
                      <select class="form-select" formControlName= "orgType"    type ="text" id="my-input">
                          <option>Technology</option>
                          <option>Software</option>
                          <option>Financial</option>
                          <option>Law</option>
                          <option>Science</option>
                          <option>Marketing</option>
                          <option>E-Commerce</option>
                      </select>
                  </div>
                  
                  <input type="checkbox" required />
                  <div class="form-row">
                      <div class= "form-group">
                          <button   type="submit"  class='btn-outline-primary'> Add User </button>
                      </div>
                  </div>
              </div>
              
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

      
    </div>
    
            
    
 