fa-icon.ng-fa-icon.help-text{
    position: relative;
}

fa-icon.ng-fa-icon.help-text::after{
    content: attr(data-title);
    position: absolute;
    background: #444;
    color: #fff;
    left: 0;
    top: 100%;
    font-size: 12px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    transition: 200ms;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
  }
  fa-icon.ng-fa-icon.help-text:hover::after{
    opacity: 1;
    transform: translateY(5px);
  }