<div class="App" *ngIf="_router.url == '/'">
    <div class='login-container' [ngStyle]="{backgroundImage:'url(../assets/images/bookkeepingbackground.jpeg)', backgroundSize: 'cover'}">
    <form>
      <img  class="login-form-logo"src="assets/images/altbookwithtext.png">
      <label> Email Address: </label>
      <input type ="email"id="my-input"  required aria-describedby="my-helper-text"/>
      <label class='password-label'> Password: </label>
      <input type="password" id="my-input" required aria-describedby="my-helper-text"/>
  
      <input type="checkbox" required />
      
      <button [routerLink]="'home'" class="m-1 btn btn-dark btn-outline-primary"> Login </button>
      <button [routerLink]="'register'" class="m-1 btn btn-dark btn-outline-primary"> Register </button>
    </form>
    </div>
  </div>
