
button.message-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    outline: none;
    background: linear-gradient(0deg, rgba(49,48,48,1) 51%, rgba(96,94,94,1) 100%);
    color: #fff;
    cursor: pointer;
    padding: 0 13px;
    border-radius: 60px;
    height: 70px;
    width: 70px;
}
button.message-btn:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    height: 80px;
    width: 80px;
    box-shadow: 0 5px 15px rgba(21, 108, 238, 0.418);
    transition: all 0.2s ease-in-out;
}
button.message-btn:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: -40%;
    font-size: 10px;
  }
  
  button.message-btn:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(0deg, rgba(49,48,48,1) 51%, rgba(96,94,94,1) 100%);
    border-radius: 5px;
    height: 88%;
  }
  
  .people-list {
    width:260px;
    height: 100%;
    float: left;
  }
    .search {
      padding: 20px;
    }
    
    input {
      border-radius: 3px;
      border: none;
      padding: 14px;
      color: white;
      background: #404040;
      width: 90%;
      font-size: 14px;
    }
    
    .fa-search {
      position: relative;
      left: -25px;
    }
    
    ul.list {
        padding: 20px;
        height: 560px;
        overflow-y: scroll;
        direction: rtl;
        list-style-type: none;
    }
    ul.list::-webkit-scrollbar {
        display: none;
    }
    li.clearfix{
        direction: ltr;
        padding-bottom: 7px;
      }
    
    img {
      float: left;
    }
    
    .about {
      float: left;
      margin-top: 8px;
    }
    
    .about {
      padding-left: 8px;
    }
    
    .status {
      color: white;
    }
    
  
  
  .chat {
    width: 674px;
    float:left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 615px;
    margin-top: 3px;
    color: #434651;
  }
    
    .chat-header {
      padding: 20px;
      border-bottom: 2px solid white;
    }
      
      img {
        float: left;
      }
      
      .chat-about {
        float: left;
        padding-left: 10px;
        margin-top: 6px;
      }
      
      .chat-with {
        font-weight: bold;
        font-size: 16px;
      }
      
      .chat-num-messages {
        color: gray;
      }
      
      .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
      }
    
    
    .chat-history {
      padding: 30px 30px 20px;
      border-bottom: 2px solid white;
      overflow-y: scroll;
      height: 58%;
    }
      .message-data {
        margin-bottom: 15px;
      }
      
      .message-data-time {
        color: lighten(gray, 8%);
        padding-left: 6px;
      }
      
      .message {      
        color: white;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: 90%;
        position: relative;
        
       
      }
      .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #1976d2;
        border-width: 10px;
        margin-left: -10px;
      }
      
      .my-message {
        background: #1976d2;
      }

      .other-message {
        background: #344757;;
        
        
      }
      
      .other-message:after {
        border-bottom-color: #344757;
        left: 93%;
      }
    
    .chat-message {
      padding: 30px;
      
      
        
      }
      textarea {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;}
      
      .fa-file-o, .fa-file-image-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;
        
      }
      
      button {
        float: right;
        color: blue;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;
        
       
      }

  button:hover {
    color: darken(blue, 7%);
  }
  
  .online, .offline, .me {
      margin-right: 3px;
      font-size: 10px;
    }
    
  .online {
    color: green;
  }
    
  .offline {
    color: orange;
  }
  
  .me {
    color: blue;
  }
  
  .align-left {
    text-align: left;
  }
  
  .align-right {
    text-align: right;
  }
  
  .float-right {
    float: right;
  }
  
  .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
  }
  div#modal-msg {
    width: 1000px;
    height: 700px;
}

div#dialog-msg {
    margin-left: 10%;
}

@media (min-width: 576px){
div#dialog-msg {
    
    margin-left: auto;
    margin-right: 50%;
}
}

div#exampleModal2 {
    overflow-y: hidden;
}

li.clearfix.ng-star-inserted {
    background: #2451786b;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #1976d2;
}
li.clearfix.ng-star-inserted:hover {
  transform:scale(1.1);
  z-index:3;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  ul.chat-list {
    list-style-type: none;
}

.organization {
    color: #8b8d95;
}