*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    overflow: hidden;
  } 
  
  .App {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    padding: 0%;
    overflow: hidden;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .nav-container {
    width: 25%;
    padding-inline: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100vh;
  }
  
  .canvas-container {
    width: 100%;
    padding: 1%;
    text-align: left;
  }
  
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.toggle-btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    height: 40px;
    width: 50px;
    background: #313030;
    position: absolute;
    border-radius: 50px;
    outline: solid #00c2ff;
    margin: 1%;
    transition: outline 0.2s linear;
  }
  
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.toggle-btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    outline-width: 7px;
  }
  
  
  
  form {
      width: 100%;
      padding:5%;
      display: flex;
      height: fit-content;
      flex-direction: column;
      border-radius: 20px;
      background-color: #313030;
      box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
      color: white;
      transform: translateY(-55%);
      opacity: 100%;
  }
  
  input#my-input {
    border-radius: 15px;
    height: 40px;
  }
  
  label {
    display: inline-block;
    height: 40px;
  }
  label.password-label {
    display: inline-block;
    height: 40px;
    margin-top: 5%;
  }
  
  .login-container {
    height: 100%;
    padding: 30%;
    width: 100%;
    place-self: center;
  }
  
  a.login-btn {
    height: 30px;
    width: 100px;
    border: solid rgb(173, 173, 173);
    margin-top: 10%;
    margin-bottom: 10px;
    border-radius: 20px;
    align-self: center;
    text-decoration: none;
    color: white;
  }
  
  a.register-btn {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    align-self: center;
    border: solid rgb(173, 173, 173);
    text-decoration: none;
    color: white;
  
  }
  input[type="checkbox"] {
    height: 20px;
  }
  
  img.altbook-logo {
    vertical-align: middle;
    height: 200px;
    width: 200px;
    place-self: center;
  }

  .btn-outline-primary {
    color: #fff;
    background-color: #0d6efd;
    height: 40px;
    border: solid 1px white;
    border-radius: 20px;
    width: 200px;
    align-self: center;
    margin-top: 10px;
    
}

.btn-outline-primary:hover{
  transform: scale(1.1);
  -webkit-transition: all .1s ease;
    transition: all 200ms ease-in-out;
}

img.login-form-logo {
    height: 100px;
    align-self: center;
    width: 100px;
}

.form-group {
  height: 63px;
}
.form-input-container {
  height: fit-content;
}
.form-group[_ngcontent-cnj-c60] {
  height: 94px;
}

div#first-form-group {
  height: 45%;
  display: grid;
}
.log-btn.active{
  height: 40px;
  margin-right: 100px;
  border-bottom: solid 1px white;
  cursor: pointer;
}
.sign-btn{
  height: 40px;
  cursor: pointer;
}

.log-sign {
  display: inline-flex;
  place-content: center;
}